
/* * {
    margin:0;
    padding:1%;
    font-family:sans-serif;
    box-sizing:border-box;
}
.profileUser{
  display: flex;
  flex-direction: column;
  font-family: fantasy;
  margin-left: 150px;
  margin-top: 50px;
}
.dateUser{
     margin-top: 20px; 
       margin-bottom: 5%; 
    margin-left:150px;
}
.img-userDefault{
    margin-top: 10px;
    height: 100px;
    width: 100px;
   
}
.img-logo{
    height: 200px;
    width: 200px;
    margin: auto; 
    padding: 3%;
}
body {
    background:rgb(247, 251, 252);
    min-height: 100vh;
    }
    .login-box {
     
     display: flex;
    padding: 20px;
    border:1px solid rgba(38, 10, 197, 0.2);
    flex-direction: column;
    }
    .input-login {
         display: flex;
        flex-direction: column; 
        align-items: center;
        padding: 8px;
        width: 90%;
        margin: 15px 0;
        font-size: 15px;
        border-radius: 20px;
    }
    .btn-login {
        background: linear-gradient(rgb(6, 170, 175),rgb(64, 255, 207));
        display: flex;
        flex-direction: column;
        border:0; 
        color:#0d0d0e;
        opacity:0.8; 
        cursor: pointer;
        border-radius: 20px;
        margin: 20px 0;
        padding: 10px;
        width:60%;
       
    }
    .btn-login :active {
    transform: scale(0.8);
    }
    .img-google{
        margin-top: 3%;
      margin-bottom: 5%;
        margin-left: 40%
    }
    .estilotextarea{
        width:250px;
        height:100px;
        border: 2px solid #990000;
    
    }
    @media screen and (min-width:720px){
         .login-box{
            display: flex; 
            
         }
       .img{
           flex-direction: row;
        margin-left: 40%;
       }
         .form{
            flex-direction: row;
            margin-right: 50%;
         
         }  
         .profileUser{
            flex-direction: row;
            display: flex;
            flex-direction: column; 
            font-family: fantasy;
            margin-left: 150px;
            margin-top: 50px;
          }
         .estilotextarea{
            flex-direction: row;
            width:100%;
            height:60%;
            border: 2px solid #990000;
        
        }
    }
     */
     * {
        margin:0;
        padding:1%;
        font-family:sans-serif;
        box-sizing:border-box;
    }
    .profileUser{
      display: flex;
      flex-direction: column;
      font-family: fantasy;
      margin-left: 150px;
      margin-top: 50px;
    }
    .dates-user{
        font-family: 'Kalam', cursive;
    }
    .img-userDefault{
        margin-top: 10px;
        height: 100px;
        width: 100px;
       
    }
    .img-logo{
        height: 200px;
        width: 200px;
        margin: auto; 
        padding: 3%;
    }
    body {
        background:rgb(247, 251, 252);
        min-height: 100vh;
        }
        .login-box {
         
         display: flex;
        padding: 20px;
        border:1px solid rgba(38, 10, 197, 0.2);
        flex-direction: column;
        }
        .input-login {
            /* display: flex;
            flex-direction: column; */
            align-items: center;
            padding: 8px;
            width: 90%;
            margin: 15px 0;
            font-size: 15px;
            border-radius: 20px;
        }
        .btn-login {
            background: linear-gradient(rgb(6, 170, 175),rgb(64, 255, 207));
            display: flex;
            flex-direction: column;
            border:0; 
            color:#0d0d0e;
            opacity:0.8; 
            cursor: pointer;
            border-radius: 20px;
            margin: 20px 0;
            padding: 10px;
            width:60%;
           
        }
        .btn-login :active {
        transform: scale(0.8);
        }
        .img-google{
            margin-top: 3%;
          margin-bottom: 5%;
            margin-left: 40%
        }
        .header{
            width: 100%;
            background: cadetblue;
        }
        .btn-singOut{
            text-decoration: none;
            background: linear-gradient(rgb(6, 170, 175),rgb(64, 255, 207));
            padding: 15px 20px;
            font-size: 10px;
            border-radius: 30px;
            cursor: pointer;
        }
        .btn-singOut:hover {
            background-color: rgb(75, 182, 224); /* Green */
            color: white;
          }
       
          .img-inicio{
              width: 50px;
              height: 40px;
          }
        .estilotextarea{
            width:70%;
            height:30%;
            border: 2px solid #24cca2;
            border-radius: 20px;
            font-family: 'Kalam', cursive;
            font-size: 20px;
        }
        @media screen and (min-width:720px){
             .login-box{
                display: flex; 
                
             }
           .img{
               flex-direction: row;
               margin-left: 40%;
           }
             .form{
                flex-direction: row;
                margin-right: 50%;
             
             }  
             .profileUser{
                flex-direction: row;
                display: flex;
                /* flex-direction: column; */
                font-family: fantasy;
                margin-left: 150px;
                margin-top: 50px;
              }
             .estilotextarea{
                flex-direction: row;
                width:100%;
                height:60%;
                border: 2px solid #054723;
            
            }
        }