

     * {
        margin:0px;
        padding:0px;
        font-family:sans-serif;
        /* box-sizing:border-box; */
    }
    .login-box {
       
        display: flex;
        padding: 10px;
        
        flex-direction: column;
        position: absolute;
        top: 20px;
        bottom: 0;
        right: 0;
        left: 0;
        align-content:center;
       
        }
        .facebook{
            margin-left: 2%;
            margin-bottom: 5%;
        }
   
 .dates-user{
    font-family: 'Hammersmith One', sans-serif;
    
    
 }
        .photoUser{
        
        justify-content:space-around;
        text-align: center;
        
    } 
    
    .img-userDefault{
       padding:5% 10% 0% 5%; 
        height: 80px;
        width: 100px;
        text-align: center;
    }
      
    
      .info-user{
     padding:0% 0% 0% 40%;
     
     color: #02440b;
      }
      
    .img-logo{
        width:200px;
        height:200px;
       margin-right:10% ;
       margin-left:10%;
        /* padding: 3%; */
        /* flex-direction:column; */
       
        
    }
    .tittle{
        font-family: 'Press Start 2P', cursive;
        font-size: 20px;
        text-align: center;
    }
    .Bienvenida{
        display: none;
        font-family: sans-serif;
        font-size: 19px;
    }
    body {
        margin:0px;
        background:rgb(247, 251, 252);
        min-height: 100vh;
        
        }
        input:focus{
            background-color: #d7eece;
        }
       
        .input-login {

             display: flex;
            flex-direction: column; 
            align-items: center;
            padding: 8px;
            width: 85%;
            margin: 30px 10px;
            font-size: 15px;
            border-radius: 20px;
           
            
        }
        .btn-login {
            background:#74d14c;
            display: flex;
            border:0; 
            color:#fff;
            opacity:0.8; 
            cursor: pointer;
            border-radius: 20px;
            margin: auto; 
            padding: 10px;
            text-align: center;
            width:40%;
            top:40px;   
            
          
        }
        .btn-login :active {
        transform: scale(0.8);
        }
        .img-google{
            margin-top: 3%;
          margin-bottom: 5%;
            margin-left: 40%
        }
         .header{
            width: 100%;
            background: cadetblue;
        } 
        
        
        .inicio-nav{
            display:block;
            background:#74d14c;
            color: #fff;
            padding:10px 30px;
            text-decoration: none;
            margin:5px 0;
            cursor: pointer;
        }
        .inicio-nav:hover{
            background:#74d14c;
        }
        nav{
            display: flex;
            flex-direction: column;
            background: #74d14c;
            justify-content:space-around;
        }
        .nav-boton{
            display: inline-block;
            background:#74d14c;
            color: #fff;
            padding: 7px 0;
            border:2px solid #74d14c;
        }
        .desaparece{
            display:none;
        }
        .btn-post{
           margin-left: 10%;
           opacity: 0.8;
           font-family: 'Hammersmith One', sans-serif;
            color: black;
            /* background-color: rgb(190, 187, 187); */
             border-color: #c5f8af;
            cursor: pointer;
           background: #c5f8af;
            padding: 8px 10px 4px 8px;
            border-radius: 30px;
        } 
        .divPost{
            margin-top: 2%;
            border-style: solid;
           border-width: thin;
           padding: 10px;
           background: #fff;
           border-color: #e6e6e6;
        }
        .estilotextarea{
            background: #fff;
            padding: 2% 2% ;
            width:95%;
            height:60px;
           
            border-color: #fff;
            border-block-end: solid #e6e6e6;
            font-family: sans-serif;
            font-size: 16px;
            resize:both;
         
        }
        .name{
            font-family: 'Arvo', serif;
        }
        .form_button{
             padding-left: 10%; 
             border-style: solid;
             border-width: thin;
            background-color: white;
             /* border-color: white; */
             color: #25572c;
             border-color:#fff;
             font-family: 'Hammersmith One', sans-serif;
        
        } 
        .guardar{
            margin-right:0%
        }
        .select{
            margin-left: 0%;
            margin-bottom:3%;
        }
        .formRegister{
            margin: 25% 4%  5%;

        }
        @media screen and (min-width:720px){
            body {
                margin:28px;
            }
             .login-box{
                display: flex; 
                flex-direction: row;
                
                margin-top: 20px;
                margin-right:60px;
                margin-left:70px;
                justify-content:space-between;
             }
           
            
            nav{
                display: flex;
                flex-direction: row;
                justify-content:space-around;
    
            }
            .nav-boton{
                display: block;
            }
            .desaparece{
                display: block;
            }
            .img{
                margin-top:30px;
                margin-right:60px;
            }
            .img-logo{
                margin-top:60px;
                justify-content:space-between;
            }
            .form-input{
                padding:20px;
                border-color: #e6e6e6;
                margin-top:40px;
                margin-right:70px;
                border-style: solid;
                border-width: thin;
                border-color: #e6e6e6;
                height: 350px;
            
            }
          
            .input-login{
                
                margin-top:30px;
                margin-right:60px;
            }
            .info-user{
                flex-direction:column;
            }
            .form_button{
               flex-direction: column;
                    } 
        }





